html {
    scroll-behavior: auto !important;
}

.navbar{
    font-family: 'Lobster', sans-serif;
    position: fixed;
    width: 100vw;
    z-index: 1;
    font-size: 25px;
    font-weight: 700;
}

.logo{
    width: 2.5rem;
}

section form a{
    font-family: "Raleway";
    font-weight: 100;
}

footer h3{
    font-family: 'Lobster', sans-serif;
    font-size: 25px;
    font-weight: 700;
}


